Hi, welcome in my game.

In it, you're playing the new policeman of the town,
Eric Cartman.
Now that's you got powers, you dont want
to see the, happy face of Kyle again
(plus, I'am sure that's he's not that's kind).
So, chose your game mode in the main menu
(easy, normal or hard), and let's hit all of
his clones with your policeman's matraque.

    /!\ They will go faster and faster /!\


------------------------------------------------
                   Game Modes

Easy mode : Kyle is only walking in straight
line.

Normal mode : Kyle can randomly walk in straight
line.

Hard mode : Same as normal mode but Kyle can
also spawn from both sides.

------------------------------------------------
                    CONTROLS

Right click : Hit the Kyles.
Escape : Return to the main menu.
R : Restart the game.
Q : Quit game.

------------------------------------------------
               > Have a good game ! <
------------------------------------------------
